@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	background-color: #173753;
}

.header {
	position: relative;
  height: 100px;
  padding: 15px 0;
  background: rgba(11,11,11,11);
  background: -moz-linear-gradient(top, rgba(11,11,11,1) 0%, rgba(11,11,11,1) 20%, rgba(28,28,28,1) 80%, rgba(28,28,28,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(11,11,11,1)), color-stop(20%, rgba(11,11,11,1)), color-stop(80%, rgba(28,28,28,1)), color-stop(100%, rgba(28,28,28,1)));
  background: -webkit-linear-gradient(top, rgba(11,11,11,1) 0%, rgba(11,11,11,1) 20%, rgba(28,28,28,1) 80%, rgba(28,28,28,1) 100%);
  background: -o-linear-gradient(top, rgba(11,11,11,1) 0%, rgba(11,11,11,1) 20%, rgba(28,28,28,1) 80%, rgba(28,28,28,1) 100%);
  background: -ms-linear-gradient(top, rgba(11,11,11,1) 0%, rgba(11,11,11,1) 20%, rgba(28,28,28,1) 80%, rgba(28,28,28,1) 100%);
  background: linear-gradient(to bottom, rgba(11,11,11,1) 0%, rgba(11,11,11,1) 20%, rgba(28,28,28,1) 80%, rgba(28,28,28,1) 100%);
  margin-bottom: 20px;
  border-bottom: solid 1px #111111;
}

.logo {
	background-size: cover;
  left: 20px;
	position: absolute;
	top: 50%;
	height: 50px;
	margin-top: -25px;
}

.loggedinstats-index{
  display: flex;
  align-content: center;
  justify-content: flex-end;
  text-align: right;
  height: 100%;
  color: white;
  font-size: 18px;
}

#PlayerAvatar {
  height: 50px;
  margin-right: 20px;
}

.login {
    right: 20px;
    position: absolute;
    top: 20%;
}

.home-content {
  text-align: center;
}

.home-content h2 {
  color: #008aff;
  font-size: 60px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.home-content p {
  color: white;
  font-size: 15px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 25px;
}

.gsi-content {
  text-align: center;
}

.gsi-content h2 {
  color: #008aff;
  font-size: 60px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.gsi-content p {
  color: white;
  width: 100%;  
}

.rounds {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin: 0 auto;
  text-align: center;
}

.bomb, .ammo {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.ammo {
  font-size: 90px;
}

.wrapper {
  margin: 0 auto;
  width: 500px;
  height: calc(100vh - 550px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input {
  border: 1px solid #008aff;
  font-size: 20px;
  position: relative;
}

.form-input .input {
  background: #fff;
  border: none;
  padding: .4em .7em;
  width: 100%;
}
.form-input .input:focus {
  background: #ffc;
}

.form-input .icon {
  left: 0;
  margin: .5em;
  position: absolute;
  top: 0;
}

.form-input .icon ~ .input {
  padding-left: 2em;
}

.form-input .button {
  background: none;
  border: none;
  margin: .5em;
  position: absolute;
  top: 0;
  right: 0;
}

.footer{
  position: fixed;
  display: flex;
  width: 100vw;
  padding: 15px 0;
  bottom: 0px;
  background: rgba(11,11,11,11);
  background: -moz-linear-gradient(bottom, rgba(11,11,11,1) 0%, rgba(11,11,11,1) 20%, rgba(28,28,28,1) 80%, rgba(28,28,28,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(11,11,11,1)), color-stop(20%, rgba(11,11,11,1)), color-stop(80%, rgba(28,28,28,1)), color-stop(100%, rgba(28,28,28,1)));
  background: -webkit-linear-gradient(top, rgba(11,11,11,1) 0%, rgba(11,11,11,1) 20%, rgba(28,28,28,1) 80%, rgba(28,28,28,1) 100%);
  background: -o-linear-gradient(top, rgba(11,11,11,1) 0%, rgba(11,11,11,1) 20%, rgba(28,28,28,1) 80%, rgba(28,28,28,1) 100%);
  background: -ms-linear-gradient(top, rgba(11,11,11,1) 0%, rgba(11,11,11,1) 20%, rgba(28,28,28,1) 80%, rgba(28,28,28,1) 100%);
  background: linear-gradient(to top, rgba(11,11,11,1) 0%, rgba(11,11,11,1) 20%, rgba(28,28,28,1) 80%, rgba(28,28,28,1) 100%);
  border-bottom: solid 1px #111111;
  flex-direction: row;
  justify-content: space-between;
}

.copyright-footer{
  margin-left: 10px;
  height:   100%;
}

.madeby-footer{
  margin-right: 10px;
  height:   100%;
}

/* MENU */

.nav {
    display: block;
    font: 13px Helvetica, Tahoma, serif;
    text-transform: uppercase;
    margin: 0; 
    padding: 0;
}

.nav li {
    display: inline-block;
    list-style: none;
    width: 250px;
}

.nav .button-dropdown {
    position: relative;
}

.nav li a {
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

.nav li a span {
    display: inline-block;
    margin-left: 5px;
    font-size: 10px;
    background-color: #fff;
    color: #999;
}

.nav li a:hover, .nav li a.dropdown-toggle.active {
    background-color: #135996;
    color: #fff;
}

.nav li a:hover span, .nav li a.dropdown-toggle.active span {
    color: #fff;
    width: 100%;
}

.nav li .dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    text-align: left;
    background-color: #fff;
}

.nav li .dropdown-menu.active {
    display: block;
}

.nav li .dropdown-menu a {
    width: 100%;
    color: #999;
}

.nav li .dropdown-menu a:hover{
    color: white;
}